.wrapper{
    width: 100%;
    height: 100%;
    background-color: linen;
}

.header{
    width: 100%;
    height: 250px;
    float: left;
    background-color: #B18C62;
    color: #800000;
    text-align: left;
}

.title{
    width: 100%;
    height: 81px;
    float: left;
    background-color: #B18C62;
    color: #800026;
    text-align: left;
    text-indent: 100px;
    font-family: 'Helvetica', sans;
    font-size: 55px;
    margin-top: 19px;
}

.school{
    width: 100%;
    height: auto;
    float: left;
    background-color: white;
    color: blue;
    text-align: left;
}

.body{
    width: 100%;
    min-height: 600px;
    float: left;
    background-color: white;
    color: black;
    text-align: left;
}

.footer{
    width: 100%;
    height: 25px;
    float: left;
    background-color: #B18C62;
    color: #800000;
    text-align: center;
}

fieldset{
    border-style: none;
    text-align: left;
    margin-left: 150px;
    margin-top: 50px;
}

img.campus{
    width: 30%;
    float: left;
}

img.logo{
    width: 40%;
    float: left;
}

.legend{
    font-size: 30px;
}

.submit{
    margin-left: 170px;
    margin-top: 20px;
}

.line1{
    width: 100%;
    height: 5px;
    background-color: #CFB495;
}

.line2{
    width: 100%;
    height: 10px;
    background-color: #B18C62;
}